/*Css for all files*/
:root {
    --primary-dark: #3A4B6B;
    --primary: #3A4B6B;
    --nav-dark: #0C0F15;
    --secondary: #cecfd0;
    --primary-text-dark: #D8DBE1;
    --black: #000;
    --button: #3A4B6B;
    --button-color: white;
    --text: black;
    --background: white;
    --primary-background: #000;
    --header-text: League Gothic;
    --design-text: Cormorant Upright;
    --auth-background: #cecfd0;
    --reverse-text: black;
    --small: #7e95c4;
    --pop-up: rgb(0, 0, 0, 0.5);
}
body[data-theme='light'] {
    --primary-dark: #3A4B6B;
    --primary: #3A4B6B;
    --nav-dark: #0C0F15;
    --secondary: #cecfd0;
    --primary-text-dark: #D8DBE1;
    --black: #000;
    --button: #3A4B6B;
    --button-color: white;
    --text: black;
    --background: white;
    --primary-background: #000;
    --header-text: League Gothic;
    --design-text: Cormorant Upright;
    --auth-background: #cecfd0;
    --reverse-text: black;
    --pop-up: rgb(0, 0, 0, 0.5);
}
body[data-theme='dark'] {
    --primary-dark: #3A4B6B;
    --primary: #3A4B6B;
    --nav-dark: #0C0F15;
    --secondary: #0C0F15;
    --background: black;
    --primary-text-dark: #D8DBE1;
    --black: #000;
    --button: #3A4B6B;
    --button-color: white;
    --text: white;
    --primary-background: #000;
    --header-text: League Gothic;
    --design-text: Cormorant Upright;
    --auth-background: #0C0F15;
    --pop-up: rgb(255, 255, 255, 0.5);
    --small: rgb(168, 168, 168);
}
h3 {
    font-weight: 500;
}
*  {
    margin: 0;
    padding: 0;
    overflow: auto;
    scrollbar-color: #5B6984 rgb(0,0,0, 0.5);
    list-style-type: none;
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
    border-radius: 50%;
}
*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 7px;
    width: 3px;
}
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
a {
    text-decoration: none;
}
.icon {
    cursor: pointer;
}
/*Index Page Css*/

.header {
    height: 70px;
    background: transparent;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-start;
    z-index: auto;
    width: 100vw;
    top: 0;
    flex-flow: row wrap;
}

.logo {
    width: 60px;
    height: 60px;
    align-self: center;
    position: absolute;
    top: 5px;
    right: 30px; 
}
.start-header {
    height: 90px;
    display: flex;
    z-index: 3;
}
.start-header .logo {
    left: 30px;
}
button {
    background: var(--button);
    font-size: 16px;
    font-family: Roboto;
    outline: none;
    width: 120px;
    border: 1px solid var(--button);
    border-radius: 12px; 
    color: var(--button-color);
    padding: 10px 10px;
    cursor: pointer;
    transition: .4s ease transform;
}
button:hover{
    transform: scale(1.1);
}
button:active {
    background: whitesmoke;
    color: black;
}
@media screen and (max-width: 400px){
    button {
        width: 100px;
        font-size: 14px;
    }
}
.sign-up-button {
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 2;
  }
.section1 {
    width: 100%;
    height: 100vh;
    background-image: url("/scrollandsheets.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: whitesmoke;
    font-family: "League Gothic";
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }
  .content {
    max-width: 600px;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    font-family: Spline Sans Mono;
    margin: 40px;
  }
  @media screen and (max-width: 600px) {
    .content {
        font-size: 18px;
    }
    .sign-up-button {
        width: 90px;
    }
  }
  .options {
    /* text-align: center; */
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    font-weight: 500;
    font-family: League Gothic;
  }


  /*Css styles for /auth route*/


.background {
    background: var(--auth-background);
    color: var(--text);
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}

.auth{
    width: 600px;
    height: 600px;
    background: url("/output.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    display: flex;
    
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.auth > .wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: center;
}
.auth-body {
    height: 430px;
    width: 330px;
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: center;
    color: #0C0F15;
    
    text-align: center;
    /* overflow: scroll; */
}
.auth-body > form {
    display: block;
    font-size: 18px;
    font-family: cursive;
    color: #0C0F15;
    flex-flow: column nowrap;
    justify-content: center;
    overflow: visible;
}
.auth-body > form > label {
    /* padding-bottom: 20px; */
    display: block;
    color: #0C0F15;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    /* width: 100vw; */
    text-align: left;
    /* overflow: visible; */
    /* margin-left: 30px; */
}

.auth-body > form  > input {
    display: block;
    margin-bottom: 20px;
    /* margin-left: 30px; */
    /* height: 30px; */
    border: 1px solid black;
    font-size: 20px;
    font-family: 'Cormorant Upright', serif;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid black;
    width: 90%;
    outline: none;
    background: none;
    /* overflow: visible; */
}
.auth-bodyButton {
    height: 40px;
    background: #0C0F15;
    margin-top: 15px;
    box-shadow: 3px 3px 3px #14171f;
    border: none;
    border-radius: 5px;
    width: 280px;
    color: whitesmoke;
    /* float: right */

    font-size: 20px;
    font-family: 'Cormorant Upright', serif;
    font-weight: 600;
    cursor: pointer;
}
.auth-body > form >  p {
    margin-top: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.auth-body h2 {
    width: 100%;
    text-align: center;
}


.auth-body > form > input:focus
{
    border-bottom: 2px solid black;

}
.preferences {
    width: 80vw;
    color: #D8DBE1;
    height: 75vh;
    border-radius: 16px;
    background: #222b3d;
    box-shadow: 5px 5px 5px #000;
    display: block;
}
.preferences h2 {
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    padding-top: 16px;
    position: sticky;
    top: 0;
    background: #222b3d;
    margin-bottom: 16px;
}
.preferences > div #choices {
    display: grid;
    flex-flow: row wrap;
    font-family: 'Roboto';
    grid-template-columns: [first]auto [line2]auto [line3]auto;
    row-gap: 40px;
    align-content: auto;
    column-gap: 40px;
    font-size: 18px;
    margin-bottom: 40px;
    margin-left: 30px;
}
.preferences > div #choices > li > label > input {
    margin-right: 10px;
}
.preferences > .end {
    position: sticky;
    bottom: 0;
    padding-bottom: 30px;
    background: #222b3d;
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.preferences  > .end > button {
    width: 150px;
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 18px;
    border: 3px solid #265aeb;
    border-radius: 8px;
}
@media screen and (max-width: 600px) {
    .auth {
        background: url("/output.png");
        width: 100vw;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
    }
    .auth > .wrapper {
        height: 380px;
        width: 280px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        align-content: center;
    }
    .auth-body {
        height: 430px;
        width: inherit;
        display: flex;
        position: relative;
        flex-flow: row wrap;
        justify-content: center;
        color: #0C0F15;
        
        text-align: center;
        /* overflow: scroll; */
    }
    .auth-body > form {
        /* border: 1px solid black; */
        display: block;
        width: 90%;
        height: 90%;
        font-size: 18px;
        color: var(--auth-background);
        flex-flow: column nowrap;
        justify-content: center;
        overflow: visible;
    }
    .login > form {
        height: 250px;
    }
    .auth-body > form > label {
        display: block;
        font-family: 'Dancing Script', cursive;
        font-size: 20px;
        text-align: left;

    }
    
    
    .auth-body > form  > input {
        display: block;
        margin-bottom: 20px;
        border: 1px solid black;
        font-size: 20px;
        font-family: 'Cormorant Upright', serif;
        font-weight: 500;
        border: none;
        border-bottom: 1px solid black;
        width: 90%;
        outline: none;
        background: none;
    }
    .auth-bodyButton {
        height: 40px;
        background: #0C0F15;
        margin-top: 15px;
        box-shadow: 3px 3px 3px #14171f;
        border: none;
        border-radius: 5px;
        width: calc(100% - 20px);
        color: white;
        font-size: 20px;
        font-family: 'Cormorant Upright', serif;
        font-weight: 600;
        cursor: pointer;
    }
}
@media screen and (max-width: 800px) {
    .preferences > div #choices {
        grid-template-columns: [first]auto [line2]auto ;
        row-gap: 30px;
        font-size: 13px;
    }
    .preferences .end > button {
        width: 100px;
    }
}
.auth-body a{
    text-align: center;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    overflow: visible;
    margin-top: 5px;
}
.loginerr {
    color: rgb(244, 6, 6);
    font-family:'Lucida Sans', sans-serif;
    font-size: 13px;
    text-align: left;
    font-weight: 600px;
    width: 70%;
    margin-left: 10px;;
    margin-bottom: 10px;
    margin-top: 1em;
}
.auth-body .loginerr {
    margin-top: -1em;
}
.auth-body .checkerror {
    margin-top: 5px;
}


.pop-up-background {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: var(--pop-up);
    backdrop-filter: blur(5px);
    display: flex;
    z-index: inherit;
    justify-content: center;
    align-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(5px);
}
.pop-up-body {
    max-height: 300px;
    height: calc(80vh - 40px);
    max-width: 400px;
    width: calc(80vw - 40px);
    background: var(--secondary);
    border-radius: 30px;
    display: flex;
    position: relative;
    flex-flow: column;
    justify-content: center;
    padding: 20px;
    align-content: center;
    z-index: 1000;

}
.pop-up-body p {
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    align-self: center;
}
.pop-up-buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}
.close-pop-up {
    position: absolute;
    top: 30px;
    font-family: Roboto;
    font-size: 28px;
    cursor: pointer;
    right: 30px;
    transition: .4s ease transform;

}
.close-pop-up:active {
    color: var(--primary);
}
.close-pop-up:hover{
    transform: scale(1.1);
}
@media screen and (max-width: 400px){
    .pop-up-buttons button {
        width: 100px;
        font-size: 14px;
    }
}

.misc-wrapper {
    height: 80vh;
    /* width:  */
    display: flex;
    flex-flow: column;

    justify-content: center;
}
.coming-soon {
    /* width: 100%; */
    /* height: 80vh; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

}
.coming-soon h2 {
    font-size: 48px;
}
.coming-soon p {
    margin-top: 20px;
    font-family: Spline Sans mono;
    font-size: 24px;
    text-align: center;
}

.redirect-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    overflow: visible;
}
.verify-acc {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.verror {
    align-self: center;
    text-align: center;
}
.reset-msg {
    font-family: Roboto;
    max-width: 600px;
    width: 100%;
}
.rs-div {
    padding: 20px;
}
.rs-div form {
    overflow: visible;
    padding: 20px 0;
}
.rs-div label {
    font-family: Roboto;
    padding-top: 20px;
}
