.loader {
    display: flex;
    align-items: center;
    height: 35px;
    overflow: hidden;
  }
  
  .bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: var(--primary);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
  }
  
  .bar:nth-child(2) {
    height: 25px;
    margin: 0 5px;
    animation-delay: .25s;
  }
  
  .bar:nth-child(3) {
    height: 30px;
  
    animation-delay: .5s;
  }
  .bar:nth-child(4) {
    height:25px;
    margin: 0 5px;
    animation-delay: .75s;
  }
  .bar:nth-child(5) {
  
    animation-delay: 1s;
  }
  
  @keyframes scale-up4 {
    20% {
      background-color: #ffff;
      transform: scaleY(1.5);
    }
  
    40% {
      transform: scaleY(1);
    }
  }
/* The switch - the box around the slider */

  
  /* Hide default HTML checkbox */
  