body {
    overflow: hidden;
}

a {
    text-decoration: none;
    /* font-weight: 600; */
    /* color: #0C0F15; */

}
.background {
    background: #0C0F15;
    font-family: 'League Gothic';
    color: #D8DBE1;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}

.auth{
    width: 600px;
    height: 600px;
    background: url("/background-scroll.jpg");
    background-repeat: no-repeat;
    background-size: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.auth > .wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: center;
}
.login{
    height: 380px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: #0C0F15;
}

.login > form {
    /* border: 1px solid black; */
    display: flex;
    width: 300px;
    height: 90%;
    font-size: 18px;
    font-family: cursive;
    color: #0C0F15;
    flex-flow: column nowrap;
    justify-content: center;
    overflow: visible;
    /* margin-left: 70px; */
    /* text-decoration:; */
}
.login > form > label {
    padding-bottom: 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    overflow: visible;
    /* margin-left: 30px; */
}
.login > form  > input {
    display: block;
    margin-bottom: 20px;
    /* margin-left: 30px; */
    height: 30px;
    font-size: 20px;
    font-family: 'Cormorant Upright', serif;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid black;
    width: 90%;
    outline: none;
    background: none;
    overflow: visible;
}
.login > input:focus
/* .signup > input:focus */
{
    border-bottom: 2px solid black;

}
.LoginButton {
    height: 40px;
    background: #0C0F15;
    margin-top: 5px;
    box-shadow: 3px 3px 3px #14171f;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Cormorant Upright', serif;
    font-weight: 600;
    cursor: pointer;
}
.login h2 {
    text-align: center;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    overflow: visible;
}
.login a,
.signup a{
    text-align: center;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    overflow: visible;
    margin-top: 5px;
}
.loginerr,
.login-err {
    color: rgb(244, 6, 6);
    font-family:'Lucida Sans', sans-serif;
    font-size: 13px;
    text-align: left;
    font-weight: 600px;
    width: 70%;
    margin-left: 10px;;
    margin-bottom: 10px;
    margin-top: 5px;
}
.login-err {
    font-size: 14px;
    padding-top: 10px;
}

.signup {
    height: 430px;
    width: 330px;
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: center;
    color: #0C0F15;
    text-align: center;
    /* overflow: scroll; */
}
.login h2 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* overflow: visible; */
}
.signup h2 {
    /* position: absolute;
    top: 0; */
    width: 100%;
    text-align: center;
}

.signup > form {
    /* border: 1px solid black; */
    display: block;
    /* width: 300px; */
    height: 90%;
    font-size: 18px;
    font-family: cursive;
    color: #0C0F15;
    flex-flow: column nowrap;
    justify-content: center;
    overflow: visible;
}
.signup > form > label {
    /* padding-bottom: 20px; */
    display: block;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    /* width: 100vw; */
    text-align: left;
    /* overflow: visible; */
    /* margin-left: 30px; */
}

.signup > form  > input {
    display: block;
    margin-bottom: 20px;
    /* margin-left: 30px; */
    /* height: 30px; */
    border: 1px solid black;
    font-size: 20px;
    font-family: 'Cormorant Upright', serif;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid black;
    width: 90%;
    outline: none;
    background: none;
    /* overflow: visible; */
}
.login > input:focus,
.signup > form > input:focus
/* .signup > input:focus */
{
    border-bottom: 2px solid black;

}
.signupButton {
    height: 40px;
    background: #0C0F15;
    margin-top: 15px;
    box-shadow: 3px 3px 3px #14171f;
    border: none;
    border-radius: 5px;
    width: 300px;
    color: whitesmoke;
    /* float: right */

    font-size: 20px;
    font-family: 'Cormorant Upright', serif;
    font-weight: 600;
    cursor: pointer;
}
.signupButton:active, .LoginButton:active {
    background: grey;
}
.signup > form >  p {
  margin-top: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.preferences {
    width: 80vw;
    height: 75vh;
    border-radius: 16px;
    background: #222b3d;
    box-shadow: 5px 5px 5px #000;
    display: block;
}
.preferences h2 {
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    padding-top: 16px;
    position: sticky;
    top: 0;
    background: #222b3d;
    margin-bottom: 16px;
}
.preferences > div #choices {
    display: grid;
    flex-flow: row wrap;
    font-family: 'Roboto';
    grid-template-columns: [first]auto [line2]auto [line3]auto;
    row-gap: 40px;
    align-content: auto;
    column-gap: 40px;
    font-size: 18px;
    margin-bottom: 40px;
    margin-left: 30px;
}
.preferences > div #choices > li > label > input {
    margin-right: 10px;
}
.preferences > .end {
    position: sticky;
    bottom: 0;
    padding-bottom: 30px;
    background: #222b3d;
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.preferences  > .end > button {
    width: 150px;
    height: 50px;
    /* font-family: 'Cormorant',; */
    font-weight: 600;
    font-size: 18px;
    border: 3px solid #265aeb;
    border-radius: 8px;
}
