.parent-container{
    width: 100%;
    padding: 20px;    
}
.field{
    margin-top: 2em;
}
.input-field{
    background: var(--primary-dark);
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 3PX;
    width: 50%;
    padding: 6px 10px;
    font-size: 18px;
    color: white;
}
.input-field-1{
    background: var(--primary-dark);
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 3PX;
    width: 50%;
    height: 200px;
    padding: 6px 10px;
    font-size: 18px;
    color: white;
}
.input-field-1::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.507);
}
.input-field::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.507);
}
@media (max-width: 768px){
    .input-field{
        width: 70%;
    }
}
