.poem-section {
    display: flex;
    flex-flow: column;
    max-width: 600px;
    width: 100%;
}
.comment-section {
    /* padding: 20px; */
    margin-bottom: 150px;
    max-width: 550px;
    align-self: flex-start;
    width: 99%;
    /* border: 1px solid red; */
}

.comment-object {
    
    border-bottom: 1px solid var(--primary-dark);
    border-left: 1px solid var(--primary-dark);
    border-right: 1px solid var(--primary-dark);
    max-width: 500px;
    align-self: center;
    width: 80%;
    padding: 20px;
    border-radius: 30px;
    margin-top: 20px;

}
.comment-object p {
    font-family: Roboto;
    font-size: 15px;
}
.comment-object .likesComment {
    margin-top: 10px;
    font-size: 16px;
}
.create-comment {
    background: var(--primary-dark);
    border: 1px solid black;
    font-family: Roboto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 20px;
    width: 380px;
    overflow: visible;

}
@media  screen and (max-width: 600px) {
    .create-comment {
        margin: 0 auto;
        position: fixed;
        bottom: 20px;
        /* max-width: 380px; */
        width: 80vw;
        left: 20px;
        overflow: visible;
    }
    
}
@media screen and (min-width: 600px) and (max-width: 760px) {
    .create-comment {
        width: calc(100vw - 370px)
    }
    
}
.create-comment > form {
    width: 100%;
    padding-left: 10px;
    display: flex;
    
}
.create-comment textarea {
    background: transparent ;
    outline: none;
    border: none;
    width: 95%;
    font-size: 16px;
    font-weight: 400;
    color: white;
}
.submit-button {
    width: fit-content;
    background: transparent;
    border: none;
}
.submit-comment {
    padding: 15px;
}
.submit-comment:active {
    background: var(--secondary);
}
