.txt-area-1{
    height: 10em;
}
.parent{
    background: var(--nav-dark);
    width: 100%;
    padding: 20px;
    
}
.create-container {
    margin: auto;
    display: block;
    width: 90%;
    overflow: visible;
}
.input-1{
    background: var(--primary-dark);
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 3PX;
    width: 90%;
    padding: 6px 10px;
    font-size: 18px;
    color: white;
}
.txt-area-1{
    background: var(--primary-dark);
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 3PX;
    width: 90%;
    height: 300px;
    padding: 6px 10px;
    font-size: 18px;
    color: white;
}
.txt-area{
    background: var(--primary-dark);
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 3PX;
    width: 90%;
    padding: 6px 10px;
    font-size: 18px;
    color: white;
}
.filter-section{
    margin-top: 2em;
    background-color: var(--nav-dark);
    padding: 20px;
    margin-bottom: 5em;
}
.box{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    row-gap: 1em;
    flex-direction: column;
}

.section-2, .canvas{
    margin-top: 2em;
    background-color: var(--nav-dark);
    padding: 20px;
}
.canvas {
    padding-bottom: 0;
}
.hashtag-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-label {
    display: block;
    font-size: 24px;
    font-weight: 500;
    margin-top: 2rem;
    align-self: center;
}
input {
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}
._tags {
    display: block;
    font-size: 14px;
    font-family: Roboto;
}
._tags > ul {
    display: inline-flex;
}
._tags  li {
  background-color: blue;
  border: 1px solid black;
  position: relative;
  color: white;
  padding: 5px 15px 5px 5px;
  border-radius: 4px;
}
.del-tag {
    font-size: 12px;
    line-height: 14px;
    font-family: Spline sans mono;
    font-weight: 200;
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}
