.search-bar {
    background: var(--primary-dark);
    display: flex;
    border-radius: 50px;
    width: 300px;
    padding: 10px, 20px;
}
.search-bar > input {
    background: transparent;
    outline: none;
    border: none;
    color: white;
    margin: auto;
}

.search-bar button {
    background: none;
    border: none;
    margin-right: 20px;
}
.search-bar > img {
    width: 300px;
    height: 300px;
}
