.floatingProfile{
    position: absolute;
    bottom: 40px;
    display: none;
    right: 50px;
}
.floater{
    background-color: var(--primary-dark);
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.floater-content{
    background-color: var(--nav-dark);
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1em;
    padding: 10px 20px;
    border-radius: 8px;
    height: auto;
    color: white;
    position: absolute;
    right: 40px;
    bottom: 100px;
    z-index: 1;
}
.inf{
    width: 30px;
}
@media (max-width: 1199px){
    .floatingProfile{
        display: block;
    }
}