/* Navbar Container */
.custom-navbar {
  background-color: lightgray; /* Set your desired background color */
  padding: 10px 120px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.navbar-brand img {
  height: 50px;
  width: 60px;
}

/* Search Bar */
.custom-search {
  display: flex;
  align-items: center;
}

.search-input {
  width: 300px; /* Set your desired width */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.custom-links {
  display: flex;
  align-items: center; /* Vertically align items in the container */
}

.signup-button-container {
  margin-left: 20px; /* Add spacing between links and button if needed */
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
}
.search-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.search-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.search-button:hover span {
  padding-right: 25px;
}

.search-button:hover span:after {
  opacity: 1;
  right: 0;
}
.hover-button {
  border-radius: 10px;
  background: #3a4b6b;
  color: white;
  width: 5rem;
  height: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add hover transition */
}

.hover-button:hover {
  background-color: white; /* Change to your desired hover color */
  color: black; /* Change text color on hover if needed */
}

/* Mobile Menu Toggle */
.navbar-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-toggle-icon {
  width: 25px;
  height: 2px;
  background-color: #333; /* Set your desired color */
  display: block;
  margin: 4px 0;
  transition: all 0.3s;
}

/* Links */
.custom-links a {
  margin-left: 20px;
  text-decoration: none;
  color: black; /* Set your desired color */
}

.custom-links a:hover {
  color: #333; /* Set your desired hover color */
}
.custom-links li {
  color: #000;
  list-style: none;
}
header {
  width: 100vw;
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  justify-content: right;
  background-color: rgba(216, 219, 225, 0.8);
  z-index: 100;
}

header ul {
  display: flex;
  list-style-type: none;
  justify-content: left;
  font-size: 14px;
  font-family: "Spline Sans Mono", monospace;
  font-weight: 500;
  vertical-align: center;
  margin-left: 40px;
}
header > ul > li {
  margin-right: 20px;
  padding-top: 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  color: var(--grey-grey-500, #6b7280);
}
header > ul > li:last-child {
  border-radius: 18px;
  background: #3a4b6b;
  color: whitesmoke;
  display: flex;
  width: 97px;
  height: 50px;
  padding-top: 0;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.section1 {
  width: 100%;
  height: 100vh;
  /* padding-top: 70px; */
  background-image: url("./scrollandsheets.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fcfcfc;
  font-family: "League Gothic";
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  max-width: 600px;
  font-size: 24px;
  line-height: 40px;
  font-family: Spline Sans Mono;
  margin: 40px;
  padding-left: 8.2rem;
}
.options {
  /* text-align: center; */
  display: flex;
  width: 80vw;
  justify-content: space-evenly;
  font-size: 25px;
  font-weight: 500;
  font-family: League Gothic;
}
.options li {
  padding-left: 0;
}
.section3 {
  background-color: #5b6984;
  color: #fcfcfc;
  display: flex;
  flex-flow: column nowrap;
  padding: 40px;
  gap: 40px;
  /* width: 100vw; */
}
.section3 article {
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
  font-family: "Spline Sans Mono";
  justify-content: space-around;
}
.section3 img {
  width: 400px;
  height: 490px;
  align-self: left;
}
.section3 h2 {
  color: #fff;
  font-family: League Gothic;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  padding: 40px 0;
  line-height: normal;
  letter-spacing: 0.96px;
}
.section3 article .words {
  max-width: 745px;
  font-size: 28px;
  align-self: left;
}
.section3 > .dp1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  /* gap: 40px; */
}
.dp1 article {
  display: block;
  width: fit-content;
}

.dp1 article .words {
  align-self: left;

  width: 540px;
}
